<!DOCTYPE html>
<html>
<head>
    <title> ARAP </title>
    <link rel = "stylesheet" href = "static/stylesheets/style.css">
    <script src = "static/javascripts/jquery.js"></script>
    <script src = "static/javascripts/viewer.js"></script>
</head>
<body>
    <div class = "Myheading">
        <div class = "Mytitle_container">
            <h1 class = "Mytitle"> Automated Risk Assessment of Prostate Lesions(Prototype)</h1>
        </div>
    </div>

    <div class = "uploading">
        <form action="/Homepage" method="POST" enctype="multipart/form-data">
            <div class ="Myform">
                Choose Dicom files for Upload. Then select:
                <button id = "uploadBtn" type="submit" name="submit" > UPLOAD</button>
                <br/><br/>
                adc formatted images:
                <input id = "adc" type="file"  name="adc" multiple = "" webkitdirectory="" directory=""/>
                <br/><br/>

                HighB formatted images:
                <input id = "HighB" type="file"  name="highb" multiple = "" webkitdirectory="" directory=""/>
                <br/><br/>

                T2 formatted images:
                <input id = "T2" type="file" name="t2" multiple = "" webkitdirectory="" directory=""/>
            </div>
        </form>
        <button id = "deleteFiles" onclick = "window.location.href='http://AndrewGoldmann.pythonanywhere.com/deleteFiles'"> Delete Files </button>
        <button id = "openInfo">Instructions</button>
        <div class = "userInfo_container">
            <ul class = "userInfo">
                <li id = "username"> {{username}}: </li>
                <li> <a href="http://AndrewGoldmann.pythonanywhere.com/logout" style = "color: black"> Logout </a> </li>
                <li> <a href="http://AndrewGoldmann.pythonanywhere.com/deleteAccount" style = "color: red"> Delete Account </a></li>
            </ul>
            <div id="flashBox">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="{{ category }}">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div id="InformationTab">
        <h3>
            Uploading your files
        </h3>

        <p>
            For each MRI series (adc, hihgb, and t2) click on 'choose files'.
            Navigate to the folder containing the respective MRI series and open it.
            Once you are finished selecting the appropriate folders for each MRI series, click on 'upload'.
            Note: the upload button will delete any image files you have previously uploaded to make room for the new files.
            Once your files are uploaded, they will be anonymized, aligned, and presented back on the web browser for you to scroll through.
        </p>

        <h3>
            Creating your markup
        </h3>

        <p>
            On the center display which contains the t2 series, use your curser to click around the perimeter of a possible lesions.
            If you make a mistake, click on the 'redo markup' button to reset the markup on the current slice level.
            Continue this process on all slices that contain evidence of a possible lesion.
            Once you have finished, click on the 'submit markup' button.
            Our machine learning model will use your markup to generate an estimated PIRADs score for the MRI series.
        </p>

        <h3>
            Deleting personal information
        </h3>

        <p>
            All images are anonymized automatically on upload. To delete all image files from your account click on the 'delete files' button.
            To delete your account enirely click on the 'Delete account' tag on the top right of your screen.
        </p>
    </div>
    <div class = "viewPort">
        <div class = "gridBox">
            <div class = "box">
                <div class = "window" id = div1>
                    <canvas class = "canvas" id="canvas1" ></canvas>
                </div>
            </div>
            <div class = "box">
                <div class = "window" id = div2>
                    <canvas class = "canvas" id="canvas2" ></canvas>
                </div>
            </div>
            <div class = "box">
                <div class = "window" id = div3>
                    <canvas class = "canvas" id="canvas3" ></canvas>
                </div>
            </div>
            <div class = "imageOutof">
                    <p class = "label" id = "label1">This is where image information is appended</p>
            </div>
            <div class = "imageOutof">
                    <p class = "label" id = "label2">This is where image information is appended</p>
            </div>
            <div class = "imageOutof">
                    <p class = "label" id = "label3">This is where image information is appended</p>
            </div>
            <div class = "toolbar">
                <button class = "switch" id = "previous">&laquo Previous</button>
                <button class = "editor" id = "clearMU" > redo markup </button>
                <button class = "editor" id = "submitMU" > submit markup </button>
                <button class = "switch" id = "next">Next &raquo</button>
            </div>
        </div>
    </div>
</body>
</html>
